<style>
/* Slideshow container */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#p{
	font-size:18px;
	font-family:Verdana, Geneva, sans-serif;
	font-style:italic;
	margin-left:80px;
	margin-right:80px
}
.parallax {
  /* The image used */
  background-image:url(img/beaches/auroville-beach.jpg);

  /* Set a specific height */
  min-height:500px;
  min-width:100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#af {
  font-family:"MS Serif", "New York", serif, Arial, Helvetica, sans-serif;
  border-collapse: collapse;

}

#af td, #navy th {
  border: 1px solid #ddd;
  padding: 8px;
}

#af tr:nth-child(even){background-color: #f2f2f2;}

#af tr:hover {background-color: #ddd;}

#af th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#000;
  color: white;
}
.container {
  position: relative;
  max-width:100%;
  margin: 0 auto;
}

.container img {vertical-align:baseline;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: auto;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#999;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
div.polaroid {
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 100px;
  float:left;
  height:70%;
}

div.conte {
  text-align: center;
  padding: 10px 10px;
}
.con {
  position: relative;
  width:40%;
  padding-left:100px;
  float:left;
  padding-right:50px;
  padding-bottom:15px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.con:hover .image {
  opacity: 0.3;
}

.con:hover .middle {
  opacity: 1;
}

.text {
  background-color:#F60;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.con2 {
  position: relative;
  width:40%;
  padding-left:100px;
  float:right;
  padding-right:50px;
}
.con2:hover .image {
  opacity: 0.3;
}

.con2:hover .middle {
  opacity: 1;
}
.parlax {
  /* The image used */
  background-image:url(img/beaches/MARARI%20BEACH.jpg);

  /* Set a specific height */
  min-height:500px;
  min-width:100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


</style>
<%- include('header') -%>
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="img/beaches/auroville-beach.jpg" height="500" width="1300">

</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="img/beaches/marari-beach.jpg" width="1300" height="500">

</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
<img src="img/beaches/gopalpur beach odisha.jpg" height="500" width="1300">

</div>

<a class="prev" onClick="plusSlides(-1)">&#10094;</a>
<a class="next" onClick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onClick="currentSlide(1)"></span>
  <span class="dot" onClick="currentSlide(2)"></span>
  <span class="dot" onClick="currentSlide(3)"></span>
</div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 3000);
}
</script>
<hr size="5" height="5" color="#FFCC00"></hr>

<div style="float:right" >
<h2><img src="img/beaches/RISHIKONDA BEACH.jpg" height="559" width="493" style="margin-left:25px; float:left; margin-right:15px; margin-bottom:15px">
BEACHES</h2>
<p id="p">A beach is a landform alongside a body of water which consists of loose particles. The particles composing a beach are typically made from rock, such as sand, gravel, shingle, pebbles. The particles can also be biological in origin, such as mollusc shells or coralline algae.

Some beaches have man-made infrastructure, such as lifeguard posts, changing rooms, showers, shacks and bars. They may also have hospitality venues (such as resorts, camps, hotels, and restaurants) nearby. Wild beaches, also known as undeveloped or undiscovered beaches, are not developed in this manner. Wild beaches can be appreciated for their untouched beauty and preserved nature.
Beaches typically occur in coastal areas where wave or current action deposits and reworks sediments.
</p>
 </div>

<h2 align="center">AUROVILLE BEACH</h2>
<div class="parallax"></div>

<p id="p">Auroville has its origins in the French language, "Aurore" meaning dawn and "Ville" meaning city. Additionally, it is named after Sri Aurobindo (1872–1950).[7]Auroville is an experimental township in Viluppuram district mostly in the state of Tamil Nadu, India with some parts in the Union Territory of Puducherry in India.[3] It was founded in 1968 by Mirra Alfassa (known as "the Mother") and designed by architect Roger Anger.[4][5][6] As stated in Alfassa's first public message in 1965,

Auroville wants to be a universal town where men and women of all countries are able to live in peace and progressive harmony, above all creeds, all politics and all nationalities. The purpose of Auroville is to realize human unity.

<p id="p">
At its Annual Conference in 1964 and with Mirra Alfassa as its Executive President, the Sri Aurobindo Society in Pondicherry passed a resolution for the establishment of a city dedicated to the vision of Sri Aurobindo. Alfassa was the spiritual collaborator of Sri Aurobindo, who believed that "man is a transitional being". Alfassa expected that this experimental "universal township" would contribute significantly to the "progress of humanity towards its splendid future by bringing together people of goodwill and aspiration for a better world." Alfassa also believed that such a universal township will contribute decisively to the Indian renaissance.</p>

<hr color="#FFCC00"></hr>
<table border="3" width="100%" bgcolor="#00CCFF" id="af">
<tr>
<th colspan="2">AUROVILLE DOCUMENTATION</th>
</tr>
<tr>
<td>Weather</td>
<td>26°C</td>
</tr>
<tr>
<td>Time Required</td>
<td>1-2 hrs</td>
</tr>
<tr>
<td>Timing</td>
<td>Beach closes at 6:30pm</td>
</tr>
<tr>
<td>Entry Fee</td>
<td>free</td>
</tr>
</table>

<div class="container">
<img src="img/beaches/auroville-beach.jpg" height="811" width="100%" >
<div class="content">
<h2>GOA BEACH</h2>
<table align="right" bgcolor="#FFFFFF" border="3" height="60%" width="40%">
<tr>
<th colspan="2">GOA BEACH</th>
</tr>
<tr>
<td>Affliation</td>
<td>Sikhism</td>
</tr>
<tr>
<td>State</td>
<td>Punjab</td>
</tr>
<tr>
<td>Groundbreaking</td>
<td>December 1581</td>
</tr>
<tr>
<td>Completed</td>
<td>1589 temple | 1604 Adi Granth</td>
</tr>
</table>
<p id="b">The sparkling sand, beautiful palm trees and pristine waters are the very images that come to the mind at the very mention of Goa. In fact, the beaches are what Goa is known for because its 100 km long coastline is home to some of the most amazing beaches in the world. Some are always crowded while some are defined by their very isolation and serenity. All you need to do is just explore this beautiful region and pick out a beach of your liking. Once you are there, you can just put up your feet and relax. Whether you would like to try some local cuisine at one of the numerous food joints or browse through the souvenir shops scattered around, it's all up to you, because once you are in Goa it is the best to throw your cares to the wind and enjoy to your heart's content. Besides, if you are of the adventurous kind you could indulge in some exciting water sports and after that relax under a beach umbrella and watch the world go by around you.

<p>There are many beautiful beaches scattered all over the world, but the joy and liveliness displayed by everything around you in Goa cannot be found anywhere else. You would just want to go with the flow and enjoy your day full of the sun, sand and fun. If you are on a beach bustling with life and activity, you should not forget to join the celebration because in Goa everyday is a holiday to be celebrated with gusto. So once in your life, do try to squeeze out some time out of your busy schedules and come to Goa, which would surely be a great experience.</p>

<p>Goa has many beautiful and exciting beaches to explore, which leaves a first time visitor spoilt for choice. There are a number of crowded and popular beaches like the Calangute, Colva and the Anjuna beaches. Being the most visited beaches in Goa, they have several resorts, recreational facilities and food joints scattered around them. For someone who would like to relax in a quiet and secluded beach, there are some beaches like the Betul beach, the Palolem beach or even the Bambolim beach. So no matter what, Goa has something for everyone to enjoy and remember for a lifetime.</p>


</p>

</div>
</div>

<h2 align="center">PEACEFULL</h2>
<div class="polaroid">
  <img src="img/beaches/candolim.jpg" height="370" style="width:100%" >
  <div class="conte">
  <h4>CANDOLIM AND CALAGUT BEACH</h4>
  <p>Among the most popular beaches for British tourists spending their holidays in Goa, Candolim and Calangute’s long strips of golden sand result in one of the state’s most inviting stretches of coastline. There's a very friendly atmosphere resonating throughout the resorts, best discovered over a delicious Goan curry in one of the eye-catching beach shacks.</p>
  </div>
</div>
<div class="polaroid">
  <img src="img/beaches/sinquerim beach.jpg" alt="Norther Lights" height="370" style="width:100%">
  <div class="conte">
    <h4>SINQUERIUM BEACH</h4>
    <p>Encapsulating the languid and relaxed ideology of Goa, stunning Sinquerim is a sedate but beautiful place to lay your beach towel. The beach itself is decorated with a small collection of beach shacks, dotted along a long curve of sand, backed by towering palm trees.</p>
  </div>
</div>



<hr align="center" width="40%" color="#666666" height="5px" style="padding:5px">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="con">
  <img src="img/beaches/gopalpur beach odisha.jpg" height="356" width="600" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">GOPALPUR BEACH</div>
  </div>
</div>
  <p id="p" style="padding-bottom:200px">Gopalpur is a coastal town and a Notified Area Council on the Bay of Bengal coast in Ganjam district in the southern part of Odisha, India. Today it is a commercial port, a famous sea beach and a tourist destination around 15 km from Berhampur. The reconstruction of an all weather port including new berths is under development.


</p>
<hr align="center" width="40%" color="#666666" height="5px" style="padding:5px">
<div class="con2">
  <img src="img/beaches/kovalam-beach.jpg" height="356" width="600" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">KOVALAM BEACH</div>
  </div>
</div>
  <p id="p" style="padding-bottom:250px">Kovalam is an area of Trivandrum City in Kerala, India, located around 17 km south of the city center. The world famous Kovalam Beach is situated in this area of Trivandrum City.

Kovalam first received attention when the Regent Maharani Sethu Lakshmi Bayi of Travancore constructed her beach resort, Halcyon Castle, here towards the end of the 1920s. Thereafter the place was brought to the public eye by her nephew the Maharaja of Travancore.[2] The European guests of the then Travancore kingdom discovered the potentiality of Kovalam beach as a tourist destination in the 1930s. However, Kovalam shot into limelight in the early seventies with arrivals of the masses of hippies on their way to Ceylon in the Hippie Trail. This exodus started the transformation of a casual fishing village of Kerala into one of the most important tourist destinations in all India.</p>

 <hr align="center" width="50%">

<h2 align="center">MARARI BEACH</h2>
<div class="polaroid">
  <img src="img/beaches/RISHIKONDA BEACH.jpg" height="370" style="width:100%" >
  <div class="conte">
  <h4>RISHIKONDA BEACH</h4>
  <p>The beach city of Andhra Pradesh, Visakhapatnam attracts huge number of tourists from all over the country looking to spend some relaxed moments amidst the pristine sandy beaches located here. Situated at around 8 km from the Vizag city is the beautiful Rushikonda beach, a popular beach of Vizag that attracts tourists as well as the locals here.
</p>
  </div>
</div>
<div class="polaroid">
  <img src="img/beaches/palolem beach.jpg" alt="Norther Lights" height="370" style="width:100%">
  <div class="conte">
    <h4>PALOLEM BEACH</h4>
    <p>Palolem Beach is situated in Canacona in southern Goa, India. The beach attracts many international tourists, mainly during the winter season between November and March. It is considered to be one of the region's most beautiful beaches.</p>
  </div>
</div>
<div style="height: 100px;">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <%- include('footer')-%>
</div>
