
<div align="center" style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style:italic; margin-left:200px; margin-right:200px">
    <h1>It is better to listen to a place once in a lifetime than go and see it for yourself. Nobody gets happiness for a full life, that's why we should roam around beautiful places. Because in every beautiful journey we can spend small life.</h1>
    <h3>-शिवम कश्यप</h3>
  </div>
  <div class="footer">
    <div>
      <img src="HatchfulExport-logo/IMG_20200713_110019.png" height="150" width="150">
    </div>
    <div style=" border-left-style:groove;border-right-style:groove;">
      <p id="a">&nbsp; This page comes under Rakshak, every data, and
         information &nbsp; of this page is not sensitive and open for
          the public domain platform.</p>
      <p id="a">© We-Travel : travel with heart & spirit</p>
    </div>
    <div>
      <p id="a">FOLLOW US:</p>
      <p><a href="https:\\www.facebook.com\RakshakOne\" target="_blank"><img src="img/logo/fb.png" width="26" height="27" ></a>&nbsp;&nbsp;&nbsp;<a href="https:\\www.instagram.com\rakshak_one\" target="_blank"><img src="img/logo/insta.png" width="29" height="28"></a></p>
    </div>
  </div>

</body>
</html>